# Core (Versões destravadas para compatibilidade com Python 3.12)
streamlit
pandas
numpy>=1.26.0

# Google Sheets Integration
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2

# Web Scraping
beautifulsoup4
requests
lxml
selenium

# Data Visualization
plotly
matplotlib
seaborn
mplsoccer

# Database
sqlalchemy

# Utilities
python-dotenv
schedule
pyyaml
